# Database Connection
database_url: ""

# Worker Settings - task wait time needs to be shorter than poll interval
task_wait_time: "1s"
worker_poll_interval: "5s" 
max_workers: 20
queue_time_bucket:
  bucket_start: 0.1
  bucket_factor: 2
  bucket_count: 10
process_time_bucket:
  bucket_start: 0.1
  bucket_factor: 2
  bucket_count: 15

# Metrics & Health Check
metrics_address: ":9090"